body {
    text-align: center;
    background-color: #1f1f1f; 
}

h1 {
    color: #a9a9a9;
    font-size: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}

input {
    font-size: 30px;
    margin-top: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    text-align: center;
}

button {
    font-size: 30px;
    margin: 50px;
}


